@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  /* comes into effect for screens  between 481 and 600 pixels (inclusive) */
}

@media screen and (min-width: 601px) and (max-width: 801px) {
  /* comes into effect for screens  between 601 and 801 pixels (inclusive) */
}

@media screen and (min-width: 802px) and (max-width: 1025px) {
  /* comes into effect for screens  between 802 and 1025 pixels (inclusive) */
}

@media screen and (min-width: 1026px) and (max-width: 1281px) {
  /* comes into effect for screens between 1026 and 1281 pixels (inclusive) */
}

@media screen and (min-width: 1282px) {
  /* comes into effect for screens larger than or equal to 1282 pixels */
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card img {
  display: block;
  float: left;
  width: 30%;
}
.card {
  flex: 0 0 31%;
  padding: 10px;
  margin: 8px;
  border: 1px solid #000;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  background-color: #999;
}

.single-media-image {
  width: 50% !important;
  max-width: min-content;
}

.small {
  font-size: 10px;
}
