.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card img {
  display: block;
  float: left;
  width: 30%;
  border-radius: 8px;
}
.card {
  flex: 0 0 31%;
  padding: 10px;
  margin: 8px;
  border: 1px solid #000;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  background-color: #999;
}

.single-media-image {
  width: 50% !important;
  max-width: min-content;
}

.small {
  font-size: 10px;
}
