:root {
  --dark: #171a26;
  --white: #f7f7ff;
  --pink: #d25da6;
  --onyx: #3a3e40;
  --silver: #9ea0a2;
  --yellow: #eefc7a;
  --green: #70f87e;
}

/* * {
  box-sizing: border-box;
} */

main {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

body {
  margin: 10px 200px;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--white);
  font-family: 'Poiret One', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  text-align: center;
}

h1 {
  display: inline;
  font-size: 2.25rem;
  text-align: left;
  font-family: 'Poiret One', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  text-align: center;
}

a {
  color: var(--yellow);
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #f7f7ff;
  font-style: italic;
  transition: 0.5s ease;
}

button {
  text-align: center;
}

form {
  text-align: center;
}
