.single-media-image {
  width: 50%;
  max-width: 10rem;
}

#single-media-card {
  border-radius: 8px;
  background-color: #474d65;
  border: 0px;
  color: #f7f7ff;
  margin: 10px 0;
  padding: 10px;
}

#reaction-text-field {
  color: #f7f7ff;
  font-family: 'Roboto Mono', monospace;
}

/* BUTTON */
#react-submit {
  color: thistle;
  font-family: 'Roboto Mono', monospace;
  box-shadow: -8px 8px;
  margin: 0px 6px;
}

#react-submit:hover {
  color: #f7f7ff;
  font-style: normal;
  transition: 0.8s;
  box-shadow: -4px 4px;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  p {
    font-size: small;
    font-weight: 100;
  }
}

@media screen and (min-width: 481px) and (max-width: 700px) {
  /* comes into effect for screens  between 481 and 600 pixels (inclusive) */
  .single-media-image {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 801px) {
  /* comes into effect for screens  between 601 and 801 pixels (inclusive) */
  .single-media-image {
    display: flex;
    flex-wrap: wrap;
  }
}
