/* #book-btn,
#screen-btn {
  color: thistle;
  font-size: x-large;
}

#book-btn:hover,
#screen-btn:hover
 {
  color: #f7f7ff;
  background-color: #3a3e40;
  font-style: normal;
  transition: 0.8s;
} */


/* .rr-btn {
      color: thistle;
  font-size: x-large;
}

.rr-btn:hover {
      color: #f7f7ff;
  background-color: #3a3e40;
  font-style: normal;
  transition: 0.8s;
} */